---
permalink: /
title: ODI Innovation Hub
description: Find resources from the Office of Data and Innovation to help you deliver great services.
layout: homepage-layout
---
      {# <div class="m-y-4"><img class="cagov-featured-image vector-bear" src="/img/hero-bear-nature.svg" alt="California bear with abstract shapes" width="1024" height="683"></div> #}
      <div class="topic-listing-grid">
        <div class="topic-item">
          <h2 class="no-top-margin">Customer experience</h2>
          <p>Understand the experiences of all Californians to make better products and services</p>
          <a class="btn-primary" href="/customer-experience/">Customer experience resources</a>
        </div>

        <div class="topic-item">
          <h2>Human-centered design</h2>
          <p>Create services more likely to meet people's needs</p>
          <a class="btn-primary" href="/human-centered-design/">Human-centered design resources</a>
        </div>

        <div class="topic-item">
          <h2>Content design</h2>
          <p>Write so people can easily understand and take action</p>
          <a class="btn-primary" href="/content-design/">Content design resources</a>
        </div>

        <div class="topic-item">
          <h2>Data</h2>
          <p>Use information to deliver better decisions, services, and outcomes</p>
          <a class="btn-primary" href="/data/">Data resources</a>
        </div>

        <div class="topic-item">
          <h2>Product management</h2>
          <p>Focus on outcomes, iterate, and adapt to new evidence to solve people's needs</p>
          <a class="btn-primary" href="/product-management/">Product management resources</a>
        </div>
      </div>


