<a id="plain-language-equity-toolkit"></a>
        <h2>Featured resources</h2>
        <div class="cagov-hero-body-content">
          <div class="content-grid-wrapper">

            {# <a class="tile-link" href="/customer-experience/customer-experience-principles/">
              <div class="content-tile">
                <div class="content-tile-header header-star"><span class="title-card-header-label">Standards and principles</span></div>
                <div class="content-tile-title">Customer experience principles</div>
                <p>Tagline for the customer experience principles
                </p>
              </div>
            </a> #}

            <a class="tile-link" href="/content-design/plain-language-equity-standard/">
              <div class="content-tile">
                <div class="content-tile-header header-star"><span class="title-card-header-label">Standards and principles</span></div>
                <div class="content-tile-title">Plain language equity standard</div>
                <p>Our recommendations for how to help everyone understand content
                </p>
              </div>
            </a>

            <a class="tile-link" href="/product-management/introduction-product-approach-public-sector/">
              <div class="content-tile">
                <div class="content-tile-header header-ribbon"><span class="title-card-header-label">Training</span></div>
                <div class="content-tile-title">Introduction to product approach for the public sector</div>
                <p>An online, self-paced course introducing product principles
                </p>
              </div>
            </a>


            <a class="tile-link" href="/data/minimization-toolkit/">
              <div class="content-tile">
                <div class="content-tile-header header-book"><span class="title-card-header-label">Guides and playbooks</span></div>
                <div class="content-tile-title">Data minimization and privacy toolkit</div>
                <p>Collect, store, and share data safely responsibly
                </p>
              </div>
            </a>

          <a class="tile-link" href="/human-centered-design/course/">
            <div class="content-tile">
              <div class="content-tile-header header-ribbon"><span class="title-card-header-label">Training</span></div>
              <div class="content-tile-title">Human-centered design course</div>
              <p>A self-paced course focused on building human-centered design skills
              </p>
            </div>
          </a>

          </div>
        </div>
